@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
}

:root {
    --gray: #7f7f7f;
    --lightgray: #e7e6e6;
    --skyblue: #87c6dd;
    --mint: #87cbc1;
    --wheat: #e1d5b3;
    --brown: #c7a777;
    --silver: #92a8b6;
    --red: #d44e4e;
    --blue: #3890a3;
    --black: #000000;
    --white: #ffffff;
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

a,
a:hover {
    color: var(--black);
    text-decoration: none;
}

.border-gray {
    border: 0.1rem solid var(--gray);
}

section {
	width: 96rem;
	height: 44rem;
	position: relative;
}

table {
	border-collapse: separate;
}

#explanation-icon {
	font-size: 1.25rem;
}

#explanation-icon:hover {
    cursor: pointer;
}

.modal-dialog {
	min-width: 40rem;
}


/* 글자 색상 */

.text-gray { color: var(--gray); }
.text-skyblue { color: var(--skyblue); }
.text-mint { color: var(--mint); }
.text-wheat { color: var(--wheat); }
.text-brown { color: var(--brown); }
.text-silver { color: var(--silver); }
.text-red { color: var(--red); }
.text-blue { color: var(--blue); }
.text-black { color: var(--black); }


/* 컴포넌트 */


/* 로고 */

#logo {
    font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
    font-size: 4.5rem;
    top: -0.25rem;
    right: 0.25rem;
    z-index: 100;
}


/* 배경 이미지 */

#backgrond-image {
    filter: brightness(75%);
    background-size: cover;
    z-index: -1;
}


/* 버튼 */

.btn-skyblue,
.btn-skyblue:hover,
.btn-skyblue:focus {
    background-color: var(--skyblue);
    border: 0.1rem solid var(--skyblue);
    color: var(--white);
}

.btn-skyblue:hover {
    background-color: var(--blue);
}

.btn-outline-skyblue,
.btn-outline-skyblue:hover,
.btn-outline-skyblue:focus {
    border: 0.1rem solid var(--skyblue);
    color: var(--skyblue);
}

.btn-outline-skyblue:hover {
    background-color: var(--skyblue);
    color: var(--white);
}

.btn-brown,
.btn-brown:hover,
.btn-brown:focus {
    background-color: var(--brown);
    border: 0.1rem solid var(--brown);
    color: var(--white);
}

.btn-red,
.btn-red:hover,
.btn-red:focus {
    background-color: var(--red);
    border: 0.1rem solid var(--red);
    color: var(--white);
}


/* 알림창 */

.alert {
    display: inline-block;
    position: absolute;
    bottom: 5rem;
    left: 50%;
    transform: translateX(-50%);
}

@media (max-width: 1280px) {
    html { font-size: 12px; }
}